body {
    background-image: url('img/savershelf.png');
    background-size: 100vw 102vh;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center; /* make sure I don't cut out something*/
}

/*give portal lowest z index when writing the js it would be main class called movable*/
#portal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    animation: shakeAndRotate 1s infinite;
    transition: transform 0.2s;
    z-index: 0;
  }

  @keyframes shakeAndRotate {
    0%   { transform: translate(-50%, -70%) translateX(0) rotate(0deg); }
    25%  { transform: translate(-50%, -70%) translateX(-5px) rotate(-5deg); }
    50%  { transform: translate(-50%, -70%) translateX(5px) rotate(5deg); }
    75%  { transform: translate(-50%, -70%) translateX(-3px) rotate(-3deg); }
    100% { transform: translate(-50%, -70%) translateX(0) rotate(0deg); }
  }

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.draggable {
    position: absolute;
    width: 200px; /* Adjust image size */
    cursor: grab;
    z-index: 1;
}

.draggable:active {
    cursor: grabbing;
}